html {
	background-color: #333;
	color: #BDC2C2;
	font-family: Verdana, sans-serif;
	line-height: 1.8;
}

a {
	color: #FFF0F5;
	font-family: Verdana, sans-serif;
	text-decoration: none;
}

.header {
	display: flex;
}

.title {
	margin-left: 16px;
	margin-right: 20px;
}

.search {
	padding-top: 21px;
	margin: 0 auto;
}

.search-button {
	background-color: #333;
}

.search-text {
	min-height: 16px;
}

.login {
	text-align: center;
}

.navigation-bar {
	background-color: #333;
	padding-top: 20px;
}

.dropdown-button {
	background-color: #333;
	padding-top: 8px;
	padding-left: 8px;
	border: none;
}

.navigation-bar p {
	font-size: 17px; 
	padding-left: 6px;
}

.navigation-bar a {
	padding: 6px 20px;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #515458;
	min-width: 160px;
}

.dropdown-content a {
	display: block;
}

.dropdown-content a:hover {
	background-color: #434B5B;
}

.navigation-bar:hover .dropdown-content {
	display: block;
}

.navigation-bar:hover .dropdown-button {
	background-color: #515458;
}


input[type=submit] {
	background-color: #BDC2C2;
	font-family: Verdana, sans-serif;
	padding: 8px 10px;
}

input[type=submit]:hover {
	background-color: #434B5B;
	color: white;
}

.email {
	background-color: #BDC2C2;
	color: #333;
	padding: 8px 10px;
}

.categories-options, .themes-options {
	background-color: #515458;
	display: flex;
}

.categories-options a:hover {
	background-color: #434B5B;
}

.themes-options a:hover {
	background-color: #434B5B;
}

.ceramics-glass, .fiber-textile, .metal, .needlework, .paper, .wood, .new-years, .valentines, .st-patricks, .easter, .thanksgiving, .halloween, .christmas {
	margin: 0 auto;
	text-align: center;
	padding: 8px 10px;
}

.products {
	padding: 8px 10px;
	column-count: 3;
}

.products form {
	padding-bottom: 12px;
}